
    body {
      background: #e2d5d5;margin:0;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      height:100vh;
    }
    form > * {
      display: block;
      margin-bottom: 6px;
    }
    header, footer {
      background: #ffffff;
      color:red;
      padding:14px;
    }
    header > nav >li > a {
    font-size:28px;
    margin-left: 20px;;
    }
    footer > nav >li > a {
      font-size:28px;
      margin-left: 20px;;
      
    }
    header > nav > li{
    display: inline-block;
    }
    footer > nav > li{
      display: inline-block;     
    }
    footer > div, footer > nav {
      display: inline-block;
    }
    footer> div {
        margin-left: 50%;
    }
    body > * {
      margin-left: 80px;
      margin-right:80px;
    }
    .section1 {
      background: #c7baf8;
    }
    .section2 {
      background: #f0b5b5;
    }
    .section3 {
      background: #dcf8e8;
    }
    .form__button {
      padding:8px 10px;
      background: green;
      color: white;
    }
    section {
      padding:6px;
    }
    h1 {
      font-size:36px;
      margin-bottom: 6px;
      margin-top: 6px;
    }
    table {
      border-collapse: collapse;

    }
    table td, table th {
      border:1px solid darkblue;
      padding:6px;
      text-align: center;
    }
    table caption {
    color:white;
    }