
body{
  background: #e2d5d5;margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
form > *{
  display: block;
  margin-bottom: 10px;
}
  header, footer{
    background: #ffffff;
    color:red;
    padding:14px;
  }
  header > nav >li > a{
  font-size:28px;
  margin-left: 20px;;
  
  }
  footer > nav >li > a{
    font-size:28px;
    margin-left: 20px;;
    
    }
  header > nav > li{
    display: inline-block;
    
    }
    footer > nav > li{
      display: inline-block;
      
      }
    footer > div, footer > nav{
      display: inline-block;
      }
      footer> div{
        margin-left: 50%;

      }
      footer{
        bottom:0px;
      }
    body > * {
      margin-left: 80px;
      margin-right:80px;
    }
    .section1{
      background: #c7baf8;
    }
    .section2{
      background: #f0b5b5;
    }
    .section3{
      background: #dcf8e8;
    }
    .form__button{
      padding:8px 10px;
      background: green;
      color: white;
    }
    section{
      padding:10px;
    }
    h1{
      font-size:42px;
    }
    table{
      border-collapse: collapse;

    }
    table td, table th{
      border:1px solid darkblue;
      padding:10px;
      text-align: center;
    }
   table caption{
    color:white;
   }