.header {
    background: #555555;
  }
  
  .header__inner {
    width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__figure {
    width: 200px;
    height: 80px;
  }
  
  .header__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .header__nav {
    display: flex;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .header__link {
    margin-right: 48px;
  }
  
  .header__link:last-child {
    margin-right: 0;
  }